*{
    color: rgb(226, 222, 245);
    background-color: #21232A;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;    
}
body{
    padding: 60px;

}
input{
    color: rgba(225, 220, 247, 0.918);
    font-size: 1.0rem;
    width: 100%;
}
.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    align-content: center;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px; 
    overflow: hidden;
}
.card p{
    padding: 5px;
    text-align: center;
    color: rgb(180, 226, 245);
}
.card img{
    max-height: 170px;

}